body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-weight: 400;
}

.container {
  margin: 0 64px
}

*,:before,:after {
  box-sizing: border-box;
}

h1 {
  font-weight: 400;
}

.react-grid-HeaderCell {
  font-weight: 500;
}